table, th, td{
    border: 1px solid black;
}

.button{
   background-color: #5a8c8c;
   border: none;
   border-radius: 8px;
   color: white;
   padding: 6px 6px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   margin: 2px 2px;
   cursor: pointer; 
}

html{
    background-color: lightgray;
    font-family: Helvetica;
    font-size: 18px;
}

/* main{
    overflow: auto;
    margin: auto;
    margin: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;

} */

/* header{
    height: 20px;
    background-color: lightgray;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
    font-size: 1.5em;
}

header > h1{
    color: white;
    font-size: 3em;
    font-style: italic;
    text-align: right;
}

header > img{
    float: left;
    margin: 0 0 10px 10px;
}

header em{
    font-size: 0.75em;
} */

/* nav ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: 0 0 0 0;
}

nav li{
    float: left;
    border-right: 1px solid #bbb;
}

nav li:nth-last-child(-n+3){
    border-right: none;
    float: right;
    border-left: 1px solid #bbb;
}

nav.active{
    background-color: green;
} */